* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-image: url(freepik-export-20241203051447EIaJ.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.nav{
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2d2d;
    width: 100%;
    opacity: 0.6;
  }
  .nav-link{
    float: left;
  }
  
  .nav-link a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-link a:hover:not(.active){
    background-color: #000000;
  }
  .active{
    background-color: #eda600;
  }
  .box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 200px;
    
  }
  .grid-1{
    background-color: #000000;
    opacity: 0.5;
    height: 300px;
    border-radius: 25px;  
    color: white;  
    padding-left: 20px;
    padding-top: 20px;
    font-size: 40px;
  }
  .grid-2{
    
  }
  .image{
    width: 400px;
  }
